:root {
  --color-blue: #52c1cc;
  --color-beige: #c7b299;
  --color-grey: #f2f2f2;
  --color-white: #fff;

  --font-primary: "Droid Sans", serif;
  --font-secondary: oswald, sans-serif;
}

html {
  font-family: var(--font-primary);
}
